@media only screen and (max-width: 500px), (min-width: 800px) {
.kod   { flex: 3 0px; }
.man { order: 1; } 
.plane    { order: 2; }
.conty { order: 3; }
.title { order: 4; } }

body {
  font-family: Georgia, 'Georgia', Times, serif;
}
#center {
text-align: center;
margin-top: 50px;
margin-bottom: 0px;
}

#cent {
  color: #f4511e;
  font-size: 25px;
  
}
#button {
background-color: #f4511e;
color: white;
border: none;
opacity: 1;
transition: 0.3s;
cursor: pointer;
padding: 16px 32px;
text-align: center;
font-size: 32px;
margin: 4px 2px;
}

#button:hover {
  opacity: 0.6;
}

.New {
text-align: center;
font-family: Georgia, 'Georgia', Times, serif;
display: flex;
justify-content: center;

}

.kod {
display: flex;
flex-flow: row wrap;
align-self: left;
}

.plane {
display:flex;
}

.man{
display: flex;
position: relative;
}

.Content {
display: flex;
flex-direction: column;
flex-flow: row wrap; 
font-family: Georgia, 'Georgia', Times, serif;
align-items: flex-start;
margin-left: 50px;
margin-right: 50px;
}

hr {
width: 1200px;
color: black ;
}

.date {
color:gray ;
font-size: 20px;
flex: 50%;
margin: auto;
text-align: left;
}

.shifty {
color: black;
font-size: 15px;
flex: 50%;
}

.title {
color: black;
font-size: 36px;
text-align: left;
justify-content: left;
}

.conty {
color:black ;
font-size: 20px;
text-align: left;
flex-flow: row wrap;
}

.authy{
color:gray;
font-size: 20px;
text-align: left;
}    

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 25%;
}
.row {
  margin: 5%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}